.event
  .content
    .summary
      a.user(href="/shows/#{item._show.slug}") #{item._show.name}
      |  published 
      a(href="/recordings/#{item.slug}") #{item.title}
      abbr.date.tooltipped(title="#{ moment( item.released ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( item.released ).fromNow() }
    .extra.text(style="max-width: none;") !{ (item.description) ? markdown( item.description.split('\n\n')[0] ) : '' }
    each credit in item.credits
      a.ui.button.attached.right(href="/people/#{credit._person.slug}")
        i.user.icon
        | #{credit._person.username}
