extends ../node_modules/maki/views/layouts/default

block content

  h1 #{item.title}

  h2 Preview
  .preview !{ markdown( item.description ) }
  
  h2 Edit
  
  form.ui.form(action="/recordings/#{item.slug}", method="POST")
    input(type="hidden", name="method", value="PATCH")
    
    .field
      label Title
      input(type="text", name="title", value="#{item.title}")
    
    .field
      label Description
      textarea(name="description", style="height: 20em;") #{item.description}

    .field
      label Guests
      .ui.fluid.multiple.search.selection.dropdown
        input(type="hidden", name="guests")
        i.dropdown.icon
        .default.text Select guests...
        .menu
          for person in people
            .item(data-value="#{person._id}") #{person.username}

    .field
      label Hosts
      .ui.fluid.multiple.search.selection.dropdown
        input(type="hidden", name="hosts")
        i.dropdown.icon
        .default.text Select hosts...
        .menu
          for person in people
            .item(data-value="#{person._id}") #{person.username}

    .field
      label Producers
      .ui.fluid.multiple.search.selection.dropdown
        input(type="hidden", name="producers")
        i.dropdown.icon
        .default.text Select producers...
        .menu
          for person in people
            .item(data-value="#{person._id}") #{person.username}

    .field
      label Credits
      .ui.fluid.multiple.search.selection.dropdown
        input(type="hidden", name="producers")
        i.dropdown.icon
        .default.text Select credits...
        .menu
          for person in people
            .item(data-value="#{person._id}") #{person.username}

    .two.fields
      .field
        label YouTube Video ID
        input(type="text", name="youtube", value="#{item.youtube || ''}")


      .field
        label Soundcloud ID
        input(type="text", name="soundcloud", value="#{item.soundcloud || ''}")

    button.ui.submit.button(type="submit") Edit &raquo;

block scripts
  script(src="/js/marked.min.js")
  script.
    $('textarea[name=description]').keyup( renderPreview );
    
    function renderPreview() {
      var value = this.value;
      var rendered = marked( value );
      $('.preview').html( rendered );
    }

    $('.ui.search')
      .search({
        apiSettings: {
          url: '/search?q={query}'
        },
        type: 'category'
      })
    ;
    
    $('.ui.multiple.search.dropdown')
      .dropdown({
        allowAdditions: true
      })
    ;
