extends ../node_modules/maki/views/layouts/default

block content
  h2 Shows
  
  for show in shows
    .ui.top.attached.segment
      h3
        a(href="/shows/#{show.slug}") #{show.name}
    .ui.attached.segment
      p #{show.description}
    .ui.buttons.bottom.attached.segment
      a.ui.button(href="/shows/#{show.slug}") View &raquo;
      if (show.website)
        a.ui.button(href="#{show.website}") Website
          i.external.icon

  if (user)
    h3 Create a Show
    
    form.ui.form.segment
      input(type="hidden", name="creator", value="#{user._id}")

      .field.required
        label Name
        input(type="text", name="name", required)
          
      .field
        label Description
        textarea(name="description", rows="3")
      
      h4 Donations
      .two.fields
        .field
          label Type
          select.ui.dropdown(name="donations[type]")
            option(value="bitcoin") Bitcoin
        .field
          label Destination
          input(type="text", name="donations[destination]")
            
      button.ui.blue.submit.button(type="submit") Create &raquo;
        
